{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index" : "recipient-createdAt-index",
    "query" : {
      "expression": "recipient = :recipient",
        "expressionValues" : {
          ":recipient" : { "S" : "${context.arguments.recipient}" }
        }
    }
}